{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": true //不行，报错
        // "style": "css" //不行，报错
        // "libraryDirectory": "lib" // 默认
      }
    ]
  ]
}